@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #27272a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.menu-button {
  margin-bottom: -24px;
}

.serif {
  font-family: "Noto Serif JP", serif;
}