@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #27272a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.background-image {
  position: fixed;  /* 固定表示 */
  top: 0;
  left: 0;
  width: 100vw;  /* ビューポートの幅いっぱい */
  height: 100vh;  /* ビューポートの高さいっぱい */
  background-image: url('/beast.webp');
  background-size: cover;  /* 画像を画面全体に広げる */
  background-position: center;  /* 画像を中央に配置 */
  filter: blur(32px);
  z-index: -1;
}

.menu-button {
  margin-bottom: -24px;
}

.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
}

.md h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.md h1 {
  font-size: 1.5rem;
}

.md h2 {
  font-size: 1.4rem;
}

.md h3 {
  font-size: 1.3rem;
}

.md h4 {
  font-size: 1.2rem;
}

.md h5 {
  font-size: 1.1rem;
}

.md h6 {
  font-size: 1rem;
}

.md strong {
  font-weight: bold;
}

.md em {
  font-style: italic;
}

.md a {
  text-decoration: underline;
  white-space: normal;
}

.md ul, ol {
  padding-left: 2rem;
}

.md li {
  margin-bottom: 0.5rem;
}

.md blockquote {
  border-left: 4px solid #a1a1aa;
  padding-left: 16px;
  font-style: italic;
  color: #71717a;
  height: 64px;
  display: flex;
  align-items: center;
}

.md pre {
  background-color: #e4e4e7;
  padding: 16px 8px;
  border-radius: 4px;
  overflow-x: auto;
}

.md code {
  background-color: #e4e4e7;
  padding: 2px 4px;
  border-radius: 4px;
  color: #52525b;
  font-size: 90%;
}

.md hr {
  border: 0;
  border-top: 1px solid #e4e4e7;
  margin: 16px 0;
}

.md table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.md th, td {
  padding: 8px;
  border: 1px solid #e4e4e7;
}

.md th {
  background-color: #fafafa;
}

.special-shadow {
  box-shadow: 0 0 6px 2px rgb(0 0 0 / 0.1);
}